{% extends 'main/base.html' %}
{% load static %}
    
    {% block links %}
    <link rel="stylesheet" href="{% static 'main/main.css' %}">
    <link rel="stylesheet" href="{% static 'main/base.css' %}">
    {% endblock %}


{% block content %}    
    <main>
        
            <h1 style="text-align: center; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; margin-bottom: 70px">
                Вітаємо на головній сторінці нашого сайту!
            </h1>
        
            <h3 style="color: #1578ba; text-decoration-style: wavy;">
                Тут ви побачите информацію про розробників та посилання на їх github аккаунти,
                де ви зможете ознайомитися детальніше з цим та іншими проєктами.
            </h3>
        
            <div class="maininfo">
                <h2 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
                    Розробник 1, та водночас тімлід команди - Данило Губарев, 15 років
                </h2>
                <img src="{% static 'main/images/image1.png' %}" alt="Image" style="border-radius: 5%;">
                <p>
                    GitHub аккаунт - <a href="https://github.com/danilgubarev" class="gitlink">Клікни</a>
                </p>

                <hr>
            </div>
        
            <div class="maininfo">
                <h2 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
                    Розробник 2 - Олексiй Тарасов, 14 років
                </h2>
        
                <img src="{% static 'main/images/image2.png' %}" alt="Image"  style="border-radius: 5%;">
                <p>
                    GitHub аккаунт - <a href="https://github.com/AlexeyTarasov77" class="gitlink">Клікни</a>
                </p>
                <hr>

            </div>
        
            <div class="maininfo">
                <h2 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
                    Розробник 3 - Віталій Феденко, 14 років
                </h2>
        
                <img src="{% static 'main/images/image3.png' %}" alt="Image"  style="border-radius: 5%;">
                <p>
                    GitHub аккаунт - <a href="https://github.com/VitaliiFedenko" class="gitlink">Клікни</a>
                </p>
                <hr>
            </div>
        
            <div class="maininfo">
                <h2 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
                    Розробник 4 - Ольга Бачуріна, 17 років
                </h2>
        
                <img src="{% static 'main/images/image4.png' %}" alt="Image"  style="border-radius: 5%;">
                <p>
                    GitHub аккаунт - <a href="https://github.com/Olhabd" class="gitlink">Клікни</a>
                </p>
                <hr>
            </div>
            
        
    </main>
{% endblock %}  
</body>
</html>