{% extends 'main/base.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'achievement/achievement.css' %}">
    <link rel="stylesheet" href="{% static 'main/base.css' %}">
{% endblock %}

{% block content %}

    <h1>
        На цій сторінці ти дізнаєшься про досягнення в програмуванні команди розробників, ім'я яких ти можешь дізнатися на головній сторінці!
    </h1>

    <img src="https://developers.redhat.com/sites/default/files/styles/article_feature/public/blog/2021/05/Python-01.png?itok=qO_bpcrR" alt="img">

    <div>
        <h2>
            Розробник 1, та водночас тімлід команди - Данило Губарев, 15 років
        </h2>

        <p>
            На даний момент я посилено вивчаю фреймворк django, мову гіпертекстової розмітки html, мову стилів css та трішки js.<br>
            Вже вивчив такі бібліотеки на Python як:<br>
            customtkinter: <a href="https://pypi.org/project/customtkinter/0.3/" class="infobutton">Клікни щоб дізнатися детальніше</a>,<br>
            Pillow: <a href="https://pypi.org/project/Pillow/" class="infobutton">Клікни щоб дізнатися детальніше</a>,<br>
            PyQt5: <a href="https://pypi.org/project/PyQt5/" class="infobutton">Клікни щоб дізнатися детальніше</a>,<br>
            os: <a href="https://docs.python.org/3/library/os.html" class="infobutton">Клікни щоб дізнатися детальніше</a>,<br>
            TeleBot: <a href="https://pypi.org/project/pyTelegramBotAPI/" class="infobutton">Клікни щоб дізнатися детальніше</a>,<br>
            pygame: <a href="https://pypi.org/project/pygame/" class="infobutton">Клікни щоб дізнатися детальніше</a>,<br>
            qrcode: <a href="https://pypi.org/project/qrcode/" class="infobutton">Клікни щоб дізнатися детальніше</a><br>
        </p>
        <hr>
    </div>
        
    
    <div>
        <h2>
            Розробник 2 - Алексей Тарасов, 14 років
        </h2>

        <p>
            Я вивчив на непоганому рівні мову програмування Python, познайомився з великою кількістю бібліотек, таких як: <br> 
            tkinter: <a href="https://docs.python.org/3/library/tkinter.html" class="infobutton">Клікни щоб дізнатися детальніше</a>,<br>
            customtkinter: <a href="https://pypi.org/project/customtkinter/0.3/" class="infobutton">Клікни щоб дізнатися детальніше</a>,<br>
            Pillow: <a href="https://pypi.org/project/Pillow/" class="infobutton">Клікни щоб дізнатися детальніше</a>,<br>
            pygame: <a href="https://pypi.org/project/pygame/" class="infobutton">Клікни щоб дізнатися детальніше</a>,<br>
            pyTelegramBotAPI: <a href="https://pypi.org/project/pyTelegramBotAPI/" class="infobutton">Клікни щоб дізнатися детальніше</a>,<br>
            qrcode: <a href="https://pypi.org/project/qrcode/" class="infobutton">Клікни щоб дізнатися детальніше</a>,<br>
            time: <a href="https://docs.python.org/3/library/time.html" class="infobutton">Клікни щоб дізнатися детальніше</a>,<br>
            PyQt5: <a href="https://pypi.org/project/PyQt5/" class="infobutton">Клікни щоб дізнатися детальніше</a>,<br>
            os: <a href="https://docs.python.org/3/library/os.html" class="infobutton">Клікни щоб дізнатися детальніше</a>,<br>
            Зараз знайомлюсь з направленням веб-розробки backend та frontend такі инструменти як: <br>
            python фреймворк - <a href="https://www.djangoproject.com/" class="infobutton">Django</a>, мову розмітки html та css, та ще одну мову програмування JavaScript.
        </p>
        <hr>
    </div>


    <div>
        <h2>
            Розробник 3 - Віталій Феденко, 14 років
        </h2>

        <p>
            Я знаходжусь на третьому курсі с програмування,
            на даний момент вивчаю framework <a href="https://www.djangoproject.com/">Django</a>,
            створення сайтів на html, стилі css та js.
            Я вчив такі бібліотеки Python: <br>
            customtkinter: <a href="https://pypi.org/project/customtkinter/0.3/" class="infobutton">Клікни щоб дізнатися детальніше</a>,<br>
            PyQt5: <a href="https://pypi.org/project/PyQt5/" class="infobutton">Клікни щоб дізнатися детальніше</a>,<br>
            TeleBot: <a href="https://pypi.org/project/pyTelegramBotAPI/" class="infobutton">Клікни щоб дізнатися детальніше</a>,<br>
            pygame:  <a href="https://pypi.org/project/pygame/" class="infobutton">Клікни щоб дізнатися детальніше</a>,<br>
            qrcode: <a href="https://pypi.org/project/qrcode/" class="infobutton">Клікни щоб дізнатися детальніше</a><br>
        </p>
        <hr>
    </div>

    <div>

        <h2>
            Розробник 4 - Ольга Бачуріна, 17 років
        </h2>

        <p>
            Зараз на 3 році навчання в академії програмування <a href="https://www.worldit.academy/">WorldIt</a>.
            Вивчаю html, js, css.
            Знаю: <br>
            pyqt5: <a href="https://pypi.org/project/PyQt5/" class="infobutton">Клікни щоб дізнатися детальніше</a>,<br>
            telebot: <a href="https://pypi.org/project/pyTelegramBotAPI/" class="infobutton">Клікни щоб дізнатися детальніше</a>,<br>
            pygame: <a href="https://pypi.org/project/pygame/" class="infobutton">Клікни щоб дізнатися детальніше</a><br>
        </p>
        <hr>
    </div>
    
{% endblock %}