{% extends 'main/main.html' %}
{% load static %}


{% block content %}
<header>
    <h1>Наша </h1>
</header>
<main>
    <p id="l">Олексій:</p>
    <p class="speech">"У вільний час гуляю на вулиці, катаюсь на велосипеді, граю з друзями у пабг, іноді практикуюсь у програмуванні, додатково знайомлячись з новими бібліотеками і т.д."</p>
    <img class="img" src="{% static 'leisure/image/bike.jpg'%}" alt="bike">
    <p id="d">Данило:</p>
    <p class="speech">"У вільний час я гуляю з друзями, катаюсь на велосипеді, та іноді граю у баскетбол"</p>
    <img class="img" src="{% static 'leisure/image/kino.jpg' %}" alt="kino">
    <p id="o">Ольга:</p> 
    <p class="speech">"Свій вільний час я проводжу на прогулянці з друзями. Також переглядаю фільми/серіали, читаю книжки, іноді малюю"</p>
    <img class="img" src="{% static 'leisure/image/bascetball.jpg' %}" alt="bascetball">
    <p id="v">Віталій:</p>
    <p class="speech">"У вільний час я граю з друзями в ігри та працюю з ними на різних блогерів"</p>
    <img class="img" src="{% static 'leisure/image/games.jpg' %}" alt="games">
</main>
<footer>
    
</footer>
{% endblock %}