.maininfo {
    margin: 20px;
    margin-bottom: 50px;
}


.gitlink {
    display: inline-block;
    padding: 5px 10px; /* Размеры отступов кнопки */
    background-color: #fa0000; /* Цвет фона кнопки */
    color: #fff; /* Цвет текста на кнопке */
    text-decoration: none; /* Убрать подчеркивание текста ссылки */
    border: none; /* Убрать границу кнопки */
    border-radius: 4px; /* Скругленные углы */
    cursor: pointer; /* Смена курсора при наведении */
}

.gitlink:hover {
    background-color: #2df800; /* Цвет фона при наведении курсора */
}



