{% extends 'main/main.html' %}
{% load static %}
{% block content %}
<header>
    <h1>Наша освіта</h1>
</header>
<main>
    <p id="l">Олексій:</p>
    <p class="speech">"Вчився у школі №75. На разі вчусь у Словакії м. Братислава у 9 класі"</p>
    <p id="d">Данило:</p>
    <p class="speech">"Вчусь у ліцеї №142, паралельно ходжу на курси програмування"</p>
</main>
<footer>
    <p id="o">Ольга:</p>
    <p class="speech">"Навчаюсь у школі №46 м.Дніпра та на курсах з програмування"</p>
    <p id="v">Віталій:</p>
    <p class="speech">"Навчаюсь в Україні у ліцеї №5, та у Польщі. Ходжу на курси з програмування та на заняття з гітари"</p>
</footer>

{% endblock %}